* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
ul {
  list-style: none;
}
.button {
  background-color: #3882F6;
  border-radius: 10px;
  color: #F9FAF8;
  font-weight: 500;

  display: inline-block;
  padding: 5px 30px;
}

header {
  background-color: #1F2937;

  padding: 20px 200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  font-weight: 500;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  gap: 20px;
}
.header-link {
  font-size: 18px;
  color: #E5E7EB;
}

section.hero {
  background-color: #1F2937;
  padding: 100px 200px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero .hero-content {
  width: 450px;
}
.hero .image-placeholder {
  flex: 1;
  color: #E5E7EB;
}

.hero-title {
  font-size: 48px;
  color: #F9FaF8;
  font-weight: 900;
}

.hero-text {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 10px;
}

.hero .image-placeholder {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
}

.hero .button {
  margin-top: 15px;
}

.information {
  text-align: center;
  padding: 50px 0;
}
.information > p {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}
.information ul.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  margin: 50px;
}
.information .info {
  width: 170px;
}
.information .info .image-placeholder{
  width: 170px;
  height: 170px;
  border: 4px solid #3882F6;
  border-radius: 20px;
  margin: 0 auto 10px;
}
.information .info p {
  color: #565151
}

section.quote {
  background-color: #E5E7Eb;

  padding: 100px 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}
blockquote {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
}
.quote p {
  text-align: right;
  font-size: 24px;
  font-weight: 500;
}

.call-to-action {
  margin: 100px 200px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-to-action > div {
  background-color: #3882F6;

  padding: 50px 100px;
  border-radius: 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.call-to-action > div > div > p:nth-child(1) {
  font-size: 24px;
  color: #F9FaF8;
  font-weight: 500;
}

.call-to-action > div > div > p:nth-child(2) {
  font-size: 18px;
  color: #E5E7Eb;
}


.call-to-action .button {
  border: 2px solid #F9FaF8;
}

footer {
  background-color: #1F2937;
  color: #E5E7Eb;
  text-align: center;

  padding: 40px 0;
}